<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Information</title>
</head>
<body>

<h3>Thank you for submitting your registration information. We have received the following details from you:</h3>

<ul>
  <li><strong>Username:</strong> {{username}}</li>
  <li><strong>Email:</strong> {{email}}</li>
  <li><strong>Company Name:</strong> {{companyName}}</li>
  <li><strong>Phone:</strong> {{phone}}</li>
  {{#if note}}
    <li><strong>Note:</strong> {{note}}</li>
  {{/if}}
</ul>

<h3>Our Customer Service team will contact you shortly to provide further assistance and guidance. Thank you for choosing to journey with us.</h3>
<h3>For any inquiries, please contact our hotline: {{numberPhoneService}}</h3>
<h3>Best regards,</h3>

<h3 style="font-weight: bold;">This is an automated email. Please do not reply to this message.</h3>
</body>
</html>
