<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Admin and Company Information</title>
</head>
<body>
<h3>Hello,</h3>

<h3>Thank you to {{companyName}} for using our services. Below is the information for the administrator account:</h3>

<ul>
  <li><strong>Company code:</strong> {{taxNumber}}</li>
  <li><strong>Email:</strong> {{emailSuperAdmin}}</li>
  <li><strong>Password:</strong> {{passwordAdmin}}</li>
  <li><strong>Username:</strong> {{usernameSuperAdmin}}</li>
  <h3>System URL login:<a href="{{baseUrl}}"></a></h3>
</ul>

<h3>To view further details, please log in to the system using the provided information.</h3>
<h3>Please note, do not share your information and password with any third parties. Kindly change your password after the first login.</h3>
<h3>Thank you for partnering with us.</h3>
<h3>For any inquiries, please contact our hotline: {{numberPhoneService}}</h3>
<h3>Best regards,</h3>

<h3 style="font-weight: bold;">This is an automated email. Please do not reply to this message.</h3>
</body>
</html>
