<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h3>Hello,</h3>


<h3>Your login account has been successfully created with the following information:</h3>

<ul>
  <li><strong>Company code:</strong> {{taxNumber}}</li>
  <li><strong>Email:</strong> {{email}}</li>
  <li><strong>Password:</strong> {{password}}</li>
  <li><strong>Username:</strong> {{username}}</li>
  <h3>URL login: <a href="{{baseUrl}}">Click here</a></h3>
</ul>

<h3>To view further details, please log in to the system.</h3>
<h3>Please note, do not share your information and password with any third parties. Kindly change your password after the first login.</h3>
<h3>Thank you for partnering with us.</h3>
<h3>For any inquiries, please contact our hotline: {{numberPhoneService}}</h3>
<h3>Best regards,</h3>

<h3 style="font-weight: bold;">This is an automated email. Please do not reply to this message.</h3>
</body>
</html>
