<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1> You have successfully created a new account, below is the information of the account you just created</h1>

<ul>
  <li><strong>Company Name:</strong> {{companyName}}</li>
  <li><strong>Username:</strong> {{username}}</li>
  <li><strong>Email:</strong> {{email}}</li>
  <li><strong>Wallet Address:</strong> {{walletAddress}}</li>
  <li><strong>Password:</strong> {{password}}</li>
  <li><strong>Phone:</strong> {{phoneUser}}</li>
  <li><strong>Status Of User:</strong> {{statusUser}}</li>
  <li><strong>Role: </strong> {{roleOfUser}}</li>
  {{#if shareQuantity}}
    <li><strong>Share Quantity:</strong> {{shareQuantity}}</li>
  {{/if}}
</ul>

</body>
</html>
