<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p { font-size: 14px; line-height: 17px; } a { font-size: 14px;}
    </style>
</head>

  <body>
    <li><strong>Meeting Name:</strong> {{title}}</li>
    <li><strong>Start Time:</strong> {{startTime}}</li>
    <li><strong>End Time:</strong> {{endTime}}</li>
    <li><strong>End Time Voting:</strong> {{endVotingTime}}</li>
    <li><strong>Link:</strong> {{link}}</li>
    {{#if note}}
      <li><strong>Note:</strong> {{note}}</li>
    {{/if}}
    {{#if files.length}}
      <li>Meeting Files:</li>
      <ul>
        {{#each files}}
          <li style="margin-left: 10px;"><a href="{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>

    {{/if}}


  </body>
  </html>

