<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Admin and Company Information</title>
</head>
<body>
<p>Hello {{usernameSuperAdmin}}, below is your company information</p>
<h1>Super Admin Information</h1>
<ul>
  <li><strong>Username:</strong> {{usernameSuperAdmin}}</li>
  <li><strong>Email:</strong> {{emailSuperAdmin}}</li>
  <li><strong>Wallet Address:</strong> {{walletAddressSuperAdmin}}</li>
  <li><strong>Status of Super Admin: </strong> {{statusSuperAdmin}}</li>
  <li><strong>Password:</strong> {{passwordAdmin}}</li>
  {{#if roleSuperAdmin}}
    <li><strong>Role:</strong> {{roleSuperAdmin}}</li>
  {{/if}}
</ul>

<p>You are the super admin of the company {{companyName}}, below is your company information</p>

<h1>Company Information</h1>
<ul>
  <li><strong>Company Name:</strong> {{companyName}}</li>
  <li><strong>Status of Company: </strong> {{statusCompany}}</li>
  {{#if descriptionCompany}}
    <li><strong>Description:</strong> {{descriptionCompany}}</li>
  {{/if}}
  <li><strong>Address:</strong> {{addressCompany}}</li>
  <li><strong>Company Shortname:</strong> {{companyShortname}}</li>
  <li><strong>Company Email:</strong> {{emailCompany}}</li>
  {{#if dateOfCorporation}}
    <li><strong>Date of Incorporation:</strong> {{dateOfCorporation}}</li>
  {{/if}}
  <li><strong>Phone:</strong> {{phoneCompany}}</li>
  {{#if fax}}
    <li><strong>Fax:</strong> {{fax}}</li>
  {{/if}}
  {{#if taxNumber}}
    <li><strong>Tax Number:</strong> {{taxNumber}}</li>
  {{/if}}
  <li><strong>Business Type:</strong> {{businessType}}</li>
  <li><strong>Representative User:</strong> {{representativeUser}}</li>
</ul>

</body>
</html>
